{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card error-card">
            <div class="card-body text-center">
                <i class="fas fa-exclamation-circle text-danger error-icon"></i>
                <h3 class="card-title mt-3">Error</h3>
                <p class="card-text">{{ error }}</p>
                <a href="/" class="btn btn-primary mt-3">Return Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
