
{% extends "base.html" %}

{% block content %}
<div class="login-container">
  <form class="form" method="POST" autocomplete="off">
    {{ form.hidden_tag() }}
    <div class="control">
      <h1>Sign Up</h1>
    </div>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <div class="control block-cube block-input">
      {{ form.username(placeholder="Username") }}
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    
    <div class="control block-cube block-input">
      {{ form.email(placeholder="Email") }}
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    
    <div class="control block-cube block-input">
      {{ form.password(placeholder="Password") }}
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    
    <div class="control block-cube block-input">
      {{ form.confirm_password(placeholder="Confirm Password") }}
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    
    <button class="btn block-cube block-cube-hover" type="submit">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="text">Register</div>
    </button>
    
    <div class="credits">
      <p class="message">Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
    </div>
  </form>
</div>
{% endblock %}
